<h4 style="margin-bottom: 10px;">Questions?</h4>
<div style="color: #A5A5A5; font-size: 12px;">
  <p>If you require further assistance, feel free to send us a message on the app or contact us on <a href="tel:+2349060443513"
      style="text-decoration: underline; color: #4B72FA;">+234 906 044 3513</a>
  </p>
  <p>Thank you for choosing Oncopadi Digital Clinic.</p>
</div>