<!DOCTYPE html>
<html>

<body
  style="background-color: #fff; padding: 20px; font-size: 14px; line-height: 1.43; font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;">
  <div style="max-width: 100%; margin: 0px auto; background-color: #fff; box-shadow: 0px 20px 50px rgba(0,0,0,0.05);">
    <table style="width: 100%;">
      <tr>
        <td style="background-color: #fff;"><img alt="oncopadi logo" src="https://oncopadi.com/assets/images/logo.png"
            style="height: 40px; padding: 20px">
        </td>
        <td style="padding-left: 50px; text-align: right; padding-right: 20px;">
        </td>
      </tr>
    </table>
    <!-- Header -->

    @!section('body')
    <!-- Body -->

    <div style="background-color: #F5F5F5; padding: 40px; text-align: center;">
      <div>
        <div style="color: #A5A5A5; font-size: 10px;">Copyright {{ new Date().getFullYear() }} Oncopadi. All
          rights reserved.</div>
        <div style="color: #A5A5A5; font-size: 10px; margin-bottom: 5px;">360 Herbert Macaulay Way, Sabo, Yaba, Lagos State, Nigeria.</div>
      </div>
    </div>
    <!-- footer -->
</body>

</html>